COCKROACH_DATABASE_URL="postgresql://<user>:<password>@<host>:26257/<database>?sslmode=verify-full"
OLLAMA_BASE_URL="http://localhost:11434"

GEMINI_API_KEY=your_gemini_api_key

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="Autonomous-SRE-Agent"
