langgraph==1.2.11
langchain-core==1.5.5
langchain-google-genai==4.3.4
pydantic==2.13.4
mcp==2.0.0
python-dotenv==1.2.2
paho-mqtt==2.1.0
httpx==0.28.1
psycopg[binary]==3.3.4
psycopg_pool==3.3.1
tenacity==9.1.4
langgraph-checkpoint-postgres==3.1.2
langchain-openai==1.5.1
