COCKROACH_DATABASE_URL="postgresql://<user>:<password>@<host>:26257/<database>?sslmode=verify-full"
OLLAMA_BASE_URL="http://localhost:11434"

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION_NAME=ap-south-2
