# Security / Environments
.env
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker
.docker

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Editor / OS files
.vscode/
.idea
*.swp
.DS_Store
